*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    font-family: 'Nunito', sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    line-height: 100%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

li {
    margin: 0;
    padding: 0;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
